/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: transparent;
  font-family: "Arvo", serif;
  height: calc(100vh - 110px);
  display:flex;
  width:100vw;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  position:relative;
}

.page_404 h1{
  font-size:10vh;
}

.page_404 img {
  width: 100%;
}

 .four_zero_four_bg{
  background-image: url('../404.gif');
  height: 400px;
  background-position: center;
}

 .four_zero_four_bg p{
  color:white;
}

h1.text-center{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  margin-top:-50px;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.constant_box_404 h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #ff4646;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
  color:white;
}

@media (max-width:900px){
  .four_zero_four_bg {
    max-width: 100vw;
    overflow:hidden;
  }
  .contant_box_404 {
    
    padding:0 3vw;
  }
}


