.footer{
    width:100vw;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#39ac31;
    padding:2vh 0;
    font-size: medium;
    font-family:"Zilla Slab"
}
