.footer{
    width:100vw;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#ff4646;
    padding:2vh 0;
    font-size:large;
    font-family:"Zilla Slab";
}
