*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::selection{
      background-color:#ff4646;
      color:white;
    }
}
html,body{
    height:100%;
    width: 100%;
}

div.nav{
    width:100vw;
    display:flex;
    padding: 2vh 3vw;
    align-items: center;
    color:black;
    justify-content: space-between;
    color:white;
    border-bottom: solid 1px rgba(51,51,51,0.24);
    max-height:100px;
    position:relative;
}

div.locator{
    display:flex;
    width: auto;
    gap:0.5em;
    height:100%;
    align-items: center;
}


  
.logo {
 height:120px;
 width:120px;
 background-image: url('/logo.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover; 
 position: absolute;
 left:50%;;
 transform:translateX(-50%)
}

span.crumb{
    background-color:#FF4646;
    padding:0.3em 0.5em;
    border-radius:0.3em;
    -webkit-user-select: none;
    cursor:pointer;
    color:rgba(255,255,255,0.7);
    font-size:large;
    font-family:"Zilla Slab";
    font-weight:800;
}

span.crumb:hover{
    background-color:#FF4646;
}

span.separator{
    color:white;
    font-size:larger;
    font-weight:800;
}

div.options{
    height:100%;
    width:auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:2vw;
}

a{
    text-decoration:none;
    color:black;
    font-size:large;
}
.move_over{
  position:relative;
}
.move_over::before {
  content: '';
  position: absolute;
  bottom: -15%;
  border-radius: 4px;
  background-color:#ff4646;
  height:4px;
  width:0%;
  left: 0;
  transition:0.3s all ease;
}
.move_over:hover::before{
  width:100%;
}
i{
    font-size:x-large;
}
