*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}

div.nav{
    width:100vw;
    display:flex;
    padding: 2vh 3vw;
    align-items: center;
    color:black;
    justify-content: space-between;
    color:white;
    border-bottom:1px solid white;
}

div.locator{
    display:flex;
    width: auto;
    gap:0.5em;
    height:100%;
    align-items: center;
}

span.crumb{
    background-color:#39ac31;
    padding:0.3em 0.5em;
    border-radius:0.3em;
    -webkit-user-select: none;
    cursor:pointer; 
    font-size:medium;
}

span.crumb:hover{
    background-color:#39ac40;
}

span.separator{
    color:white;
    font-size:larger;
    font-weight:800;
}

div.options{
    height:100%;
    width:auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:2vw;
}

a{
    text-decoration:none;
    color:white;
    font-size:large;
}
.nav a:nth-child(2){
    text-decoration: underline #39ac31;
}
.nav a:nth-child(2):hover{
    text-decoration: underline rgba(32, 178, 171, 0.822) 2px;
}
i{
    font-size:x-large;
}
