*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
}
html,body{
    height:100%;
    width: 100%;
    overflow-x:hidden;
}
.news{
    width:50vw;
    max-height:max-content;
    display:flex;
    padding:10vw;
    flex-direction: column;
    gap:2vh;
}

.activities{
  display:flex;
  flex-direction:column;
  width:100%;
  gap:1vh;
}

.activity{
    height:auto;
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:1vw;
    line-height:150%;
}

.activity .job .keyword{
    height:100%;
    color:#ff4646;
    font-size:large;
    text-decoration:none;
    margin-right:1vw;
    width:100%;
    font-family:"Zilla Slab";
    
}

.activity .date{
    min-height:100%;
    display:flex;
    font-family:"Zilla Slab";
}
.activity .job{
    width:70%;
    color:#333333;
    height:100%; 
}

.job a{
  font-size:medium;
  text-decoration:underline 1px solid #ff4646;
  transition:0.3s all ease;
}

.job:hover{
  a{
    color: #ff4646;
    text-decoration:none;
  }
  .keyword{
    color:#333333;
  }
}

@media (max-width:900px){
  .news{
    width:100vw;
    padding:3vw 6vw;
    padding-right:0;
    word-wrap:break;
  }
  .activity{
    width:100%;
  }
}
