*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
.news{
    width:50vw;
    max-height:max-content;
    display:flex;
    padding:10vw;
    flex-direction: column;
    gap:2vh;
}
.activities{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    gap:1vh;
}
.activity{
    height:auto;
    width:100%;
    display:flex;
    align-items: center;
    gap:1vw;
}

.activity .job .keyword{
    display:flex;
    height:100%;
    color:#31ac39;
    font-size:large;
    text-decoration:none;
    margin-right:1vw;
    min-width:30%;
    max-width:30%;
}

.activity .date{
    width:40%;
    height:100%;
    display:flex;
    justify-content: center;
}
.activity .job{
    width:70%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:900px){
    .news{
        width:100vw;
        padding:5vh 3vw;
    }
    .activity{
        gap:3vw;
    }
}

.job a{
  width:70%;
  display:flex;
  align-items:center;
  justify-content: left;
  font-size:medium;
  text-decoration:underline 1px #39ac31;
  line-height:150%;
}

.job a:hover{
  color: #39ac31;
  text-decoration:none;
}

hr{
    color:#39ac31;
    width:60%;
    align-self: flex-end;
}
