* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.outputs {
    width: 50vw;
    max-height: max-content;
    display: flex;
    padding: 10vw;
    flex-direction: column;
    gap: 2vh;
}

.output {
    width: fit-content;
    height: auto;
    display: flex;
    color:#333333;
    flex-direction: column;
    gap: 1vh;
    -webkit-user-select: none;
    transition:0.3s all ease;
    cursor:pointer;
    text-decoration:underline 1px solid #ff4646;
}


@media (max-width:900px) {
    .outputs {
        width: 100vw;
        padding: 5vh 6vw;
    }
}
