* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.outputs {
    width: 50vw;
    max-height: max-content;
    display: flex;
    padding: 10vw;
    flex-direction: column;
    gap: 2vh;
}

.output {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    -webkit-user-select: none;
    text-decoration: 1px #31ac39 underline;
    trasition:0.3s all ease;
    cursor:pointer;
}

.output:hover{
    color:#39ac50;
    text-decoration:1px;
}

@media (max-width:900px) {
    .outputs {
        width: 100vw;
        padding: 5vh 3vw;
    }
}
